<main>
    <h2>Seja bem-vindo(a), {{ user.name }}</h2>
    <p>Você é jovem, tem apenas {{ user.age }} anos.</p>

    {{#if auth}}
        <a href="/dashboard">Acessar a Dashboard</a>
    {{else}}
        <p>Você precisa ser autenticado para acessar a Dashboard</p>
    {{/if}}
</main>